<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UviMuPdf-Integration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B9D60F81C8D633C00224163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B9D61111C8D633D00224163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B9D611C1C8D633D00224163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
